.containar {
    /* border: 2px solid red; */
    width: 1500px;
    height: 800px;
    position: relative;
}

#BR {
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    /* border: 10px solid rgba(0, 0, 0, 0.412); */
    padding: 10px;
    position: absolute;
    top: 350px;
    right: 800px;
}

#AR {
    /* background-color: black; */
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 350px;
    right: 630px;
}

#project {
    padding-bottom: 20px;
    border: 2px solid rgba(50, 50, 50, 0.241);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}


.containar-1 {
    /* border: 2px solid red; */
    height: 600px;
    padding-left: 50px;
}

.containar-2 {
    display: inline-block;
    /* border: 2px solid black; */
    height: 300px;
    width: 1500px;
    padding-top: 10px;
}

.childcontainar-1 {
    display: inline-block;
    width: 330px;
    padding-left: 10px;
    /* border: 2px solid red; */
    position: relative;
}

h3 {
    background-color: black;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0px;
    margin: 0px;
}

img {
    width: 100%;
}