.containar {
    background-color: rgba(162, 147, 147, 0.192);
    /* border: 2px solid red; */
    height: 800px;
    width: 100%;

}

body {
    margin: 0;
}

.child {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    color: white;
    /* border: 2px solid blue; */
    height: 100px;
    width: 100%;
    align-content: center;
    margin-top: 0px;

}

#font1 {
    /* border: 1px red; */
    padding-left: 30px;
}

#font2 {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
    margin: 10px;
}

p {
    display: flex;
    position: absolute;
    padding-top: 30px;

}

#font3 {
    color: green;
}

i {
    top: 0px;
    padding-bottom: 50px;

    font-size: 30px;
    /* border: 1px solid red; */
}

.containar-1 {
    display: flex;
    align-content: center;
    /* height: 300px; */
    /* border: 2px solid green; */
    position: relative;
    padding-bottom: 0px;
}

.subchild {
    display: flex;
    position: absolute;
    /* border: 2px solid red; */
    height: 30px;
    width: 700px;
    padding-left: 400px;
    padding-top: 0px;

}

#box1 {
    position: absolute;
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

#box2 {
    margin-top: 0px;
    padding-top: 0px;
    width: 100px;
    position: absolute;
    margin: 0px;
    padding-left: 350px;
    /* padding-top: 35px;
    font-size: 20px; */

}

#box3 {
    position: absolute;
    padding-top: 0px;
    width: 100px;
    margin-top: 0px;
    margin: 0px;
    padding-left: 300px;
}

#box4 {
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px;
    padding-right: 700px;
    padding-left: 30px;
    color: white;
    font-size: 30px;

}

h4 {
    align-content: center;
    padding-left: 80px;
    padding-top: 0px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: green;
    color: whitesmoke;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    align-content: center;
    margin: 0px;
    padding-left: 70px;
    padding-top: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: red;
    color: white;
    left: 200px;
}